<div class="panel-body">
    <div class="position-center">
        <form class="form-inline" role="form">
        <div class="form-group">
            <label class="sr-only" for="exampleInputEmail2">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label class="sr-only" for="exampleInputPassword2">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
    </form>
    </div>
</div>
<button (click)="addContato()" type="button">Adicionar Contato</button>
<table  class="row-border hover">
  <thead>
    <tr>
      <th></th>
      <th>Nome</th>
      <th>Função</th>            
      <th>Email</th>
      <th>Telefone</th>        
      <th>Recebe OC</th>             
      <th>Ações</th>																		
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let contato of contatos">
        <td>{{contato.nome}}</td>
        <td>{{contato.funcao}}</td>  
        <td>{{contato.email}}</td>
        <td>{{contato.phone}}</td>         
        <td *ngIf="contato.oc; else loggedOut"> 
          <input  type="checkbox" checked disabled >
        </td> 
        <ng-template #loggedOut>
            <input type="checkbox"  disabled > 
          </ng-template>                                
        <td >
          <button (click)="getAlterar(contato)" type="button">Alterar</button>
          <button (click)="getExcluir(contato)" type="button">Excluir</button>
          
        </td>                   
        <td>
      </tr>
  </tbody>
</table>
